/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%; 
  height: auto; 
}

.btn {
  width: 100%; /* Botones ocupan todo el ancho disponible */
  box-sizing: border-box;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.col-4, .col-3 {
  padding: 0 10px;
}

.table-responsive {
  overflow-x: auto;
}

.navbar {
  background-color: #374140;
  padding: 0 20px; /* Ajuste del padding para mejor visualización */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.navbar .logo {
  width: 60px;
  height: auto;
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar .nav-link:hover {
  color: #f0ad4e;
}

.navbar .nav-link.active {
  color: #ffffff;
}

.navbar .nav-link.disabled {
  color: #cccccc;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.d-flex {
  width: 50%;
  justify-content: center;
}

.navbar .btn i {
  color: white;
  font-size: 1.25rem;
}

.navbar .btn {
  border: none;
  background-color: transparent;
}

.navbar .btn:hover i {
  color: #86b6fe;
}

.navbar .btn:hover {
  background-color: rgb(194, 223, 255, 0.1);
}

.Catalogo {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el número de columnas automáticamente */
  gap: 20px;
}

/* Responsive Styles */
.table-wrapper {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px; /* Reducido para pantallas pequeñas */
  }

  .navbar-toggler {
    margin-top: 10px;
  }

  .navbar .logo {
    margin-bottom: 10px; 
  }

  .navbar-collapse {
    text-align: center;
    width: 100%;
  }

  .navbar-nav {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar .nav-item {
    margin: 5px 0; 
  }

  form.d-flex {
    width: 100%;
  }

  .table-wrapper {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    min-width: 100%; /* Ajusta el ancho mínimo para una visualización adecuada */
  }

  .col-4, .col-3 {
    padding: 0;
    margin-bottom: 20px;
  }

  .btn {
    width: auto; /* Ajusta los botones para que no ocupen todo el ancho en pantallas muy pequeñas */
  }
}

@media (max-width: 576px) {
  .navbar .logo {
    width: 50px;
  }

  .navbar .nav-link {
    font-size: 14px;
  }

  .container-fluid {
    padding: 0 15px;
  }

  .table th, .table td {
    padding: 8px;
  }
}
